/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header.set-header {
	background: #F0AB19;
	border-bottom: solid black;
}

img.set-header  {
	width: 55%;
	vertical-align: middle;
	/*margin-left: 0;*/
}

h1.set-header {
	font-size: 2rem;
	font-family: verdana;
}

.albums {

}

h1 {
	color: black;
}

.card {
  display: block;
  margin: 1%;
  padding: 2%;
  /*background-color: #119fc2;*/
  /*color: white;*/
  border: solid black;
  height: 13em;
}

ul {
	list-style: none;
}

.column li {
	/*margin: 2px;*/
}

span.buttons img {
	height: 3em;

}

.buttons img:nth-child(2) {
	height: 1em;
}