<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
	<header class="set-header">
		<nav>
    	<ul class="row small-up-1 medium-up-2">
      	<li class="column">
        	<a href="/">
					<img src="/assets/totorochu_pikatoro.png" class="set-header">
					</a>
				</li>
				<li class="column">
					<h1 class="set-header">Pikatoro and Totorochu's Favorite Favs</h1>
				</li>
			</ul>
		</nav>

	</header>
	
<%= yield %>

</body>
</html>
